@model SevColApp.Models.AccountPasswordChange

@{
    ViewData["Title"] = "User password changed";
}

<html>
<body class="gmpage">
    @if (string.IsNullOrEmpty(Model.Error))
    {
        <h2>The password of user's @Model.UserName bank account "@Model.BankAccountName" has been changed to "@Model.NewPassword".</h2>
    }
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <h2>An error occurred:</h2>
        <h2>@Model.Error</h2>
    }    
</body>
</html>