@model SevColApp.Models.AccountPasswordChange

@{
    ViewData["Title"] = "Change user password";
}

<html>
<body class="gmpage">
    <form asp-action="ChangeBankAccountPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table table-borderless table-sm">
            <tr>
                <th class="text-right"><label>User's login name:</label></th>
                <td>
                    <input asp-for="UserName" class="form-control col-6" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th class="text-right"><label>Account name:</label></th>
                <td>
                    <input asp-for="BankAccountName" class="form-control col-6" />
                    <span asp-validation-for="BankAccountName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th class="text-right"><label>Desired new password for the bank account:</label></th>
                <td>
                    <input asp-for="NewPassword" class="form-control col-6" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th></th>
                <td>
                    <input type="submit" class="btn btn-dark" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>