@{
    ViewData["Title"] = "Gamemaster page";
}

<html>
<body class="gmpage">
    <h1>Welcome to the game master's page</h1>
    <a asp-area="" asp-controller="Gamemaster" asp-action="ChangeUserPassword" class="btn btn-outline-dark">Change user's password</a>
    <a asp-area="" asp-controller="Gamemaster" asp-action="ChangeBankAccountPassword" class="btn btn-outline-dark">Change bank account password</a>
</body>
</html>