@model SevColApp.Models.UserPasswordChange

@{
    ViewData["Title"] = "User password changed";
}

<html>
<body class="gmpage">
    <h2>The password of user @Model.UserLoginName has been changed to @Model.NewPassword.</h2>
</body>
</html>