@model SevColApp.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
    <form asp-action="create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table table-borderless table-sm">
            <tr>
                <th class="text-right"><label>Login name:</label></th>
                <td>
                    <input asp-for="LoginName" class="form-control col-6" />
                    <span asp-validation-for="LoginName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th class="text-right"><label>First name:</label></th>
                <td>
                    <input asp-for="FirstName" class="form-control col-6" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th class="text-right"><label>Last name:</label></th>
                <td>
                    <input asp-for="LastName" class="form-control col-6" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th class="text-right"><label>Prefixes (if any):</label></th>
                <td>
                    <input asp-for="Prefixes" class="form-control col-6" />
                    <span asp-validation-for="Prefixes" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th class="text-right"><label>Your password:</label></th>
                <td>
                    <input type="password" asp-for="Password" class="form-control col-6" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th></th>
                <td>
                    <input type="submit" value="Create" class="btn btn-outline-dark" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>