@model SevColApp.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<html>

<body class="userpage">
    <form asp-action="login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table table-borderless table-sm">
            <tr>
                <th class="text-right text-light"><label>Login name:</label></th>
                <td>
                    <input asp-for="LoginName" class="form-control col-6" />
                    <span asp-validation-for="LoginName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th class="text-right text-light"><label>Your password:</label></th>
                <td>
                    <input type="password" asp-for="Password" class="form-control col-6" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th></th>
                <td>
                    <input type="submit" value="Login" class="btn btn-light" />
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Create">Create new account</a>
                </td>
            </tr>
            <tr>
                <th></th>
                <td class="text-danger">Login name unknown or password incorrect</td>
            </tr>
        </table>
    </form>
</body>


</html>
