@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
    <h1>You have been logged out</h1>
    <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-dark">Home</a>
</body>
</html>