@{
    ViewData["Title"] = "Home Page";
}

<html>
<body class="userpage">
    <h1 class="text-light">You have been logged out</h1>
    <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-light">Home</a>
</body>
</html>