@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-light">@ViewData["Title"]</h1>

<html>
<body class="privacypage">
    <p class="text-light">This app is intended for gaming purposes.</p>
    <p class="text-light">As such, please use a fake (character) name and a unique password.</p>
    <p class="text-light">Although there is a warning on most browsers, we are not taking any data from your pc.</p>
    <p class="text-light">We do use a cookie, but it is tiny, and lasts only a day.</p>
    <a class="btn btn-outline-light" asp-area="" asp-controller="Home" asp-action="DeleteUser">Delete my user account (requires being logged in)</a>
</body>
</html>

