@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<html>
<body style="background-color: khaki">
    <p>This app is intended for gaming purposes.</p>
    <p>As such, please use a fake (character) name and a unique password.</p>
    <p>Although there is a warning on most browsers, we are not taking any data from your pc.</p>
    <p>We do use a cookie, but it is tiny, and lasts only a day.</p>
    <a class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="DeleteUser">Delete my user account and bank accounts (requires being logged in)</a>
</body>
</html>

