@{
    ViewData["Title"] = "Gamemaster stock exchange page";
}

<html>
<body class="gmpage">
    <h1>Welcome to the game master's stock exchange page</h1>

    <a asp-area="" asp-controller="GamemasterStockExchange" asp-action="GlobalVariables" class="btn btn-outline-dark">Change the global stock exchange variables</a> <br />
</body>
</html>