@model SevColApp.Models.BankAccount

@{
    ViewData["Title"] = "Home Page";
}

<html>
<body style="background-color: rgb(104,171,87)">

    <table class="table table-borderless w-auto">

        <tbody>
            <tr class="table-info">
                <th scope="row">Account name</th>
                <td>@Model.AccountName</td>
            </tr>
            <tr class="table-info">
                <th scope="row">Account number</th>
                <td>@Model.AccountNumber</td>
            </tr>
            <tr class="table-info">
                <th scope="row">Credits</th>
                <td>@Model.Credit</td>
            </tr>
        </tbody>

    </table>

    <a asp-area="" asp-controller="Bank" asp-action="Transfer" asp-route-accountId="@Model.Id" class="btn btn-light">Make a transfer</a>

</body>
</html>