@model SevColApp.Models.BankAccountDetails

@{
    ViewData["Title"] = "Home Page";
}

<html>
<body  class="bankingpage">

    <table class="table table-borderless w-auto">

        <tbody>
            <tr>
                <th scope="row" class="bankingtext">Account name</th>
                <td class="bankingtext">@Model.AccountName</td>
            </tr>
            <tr>
                <th scope="row" class="bankingtext">Account number</th>
                <td class="bankingtext">@Model.AccountNumber</td>
            </tr>
            <tr>
                <th scope="row" class="bankingtext">Credits</th>
                <td class="bankingtext">@Model.Credit</td>
            </tr>
        </tbody>

    </table>

    <a asp-area="" asp-controller="Bank" asp-action="Transfer" asp-route-accountId="@Model.Id" class="btn btn-light">Make a transfer</a>

</body>
</html>