@model SevColApp.Models.BankAccount

@{
    ViewData["Title"] = "Home Page";
}

<html>
<body style="background-color: rgb(104,171,87)">
    <h3>  Account name: @Model.AccountName.</h3>
    <h3>Account number: @Model.AccountNumber</h3>
    <h3>        Credit: @Model.Credit</h3>
</body>
</html>