@model SevColApp.Models.UserBankAccounts

@{
    ViewData["Title"] = "Home Page";
}

<html>
<body class="bankingpage">
    <h1 class="bankingtext">Welcome, @Model.User.FullName, to the banking app</h1>
    @if (Model.BankAccounts.Count() > 0)
    {
        <table class="table table-borderless table-sm">
            <thead>
                <tr>
                    <th class="bankingtext" scope="col">Account name</th>
                    <th class="bankingtext" scope="col">Account number</th>
                    <th class="bankingtext" scope="col">Bank</th>
                    <th class="bankingtext" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in Model.BankAccounts)
                {
                    <tr>
                        <td class="bankingtext">@account.AccountName</td>
                        <td class="bankingtext">@account.AccountNumber</td>
                        <td class="bankingtext">@account.Bank.Name</td>
                        <td>
                            <a asp-area="" asp-controller="Bank" asp-action="PasswordFill" asp-route-accountId=@account.Id class="btn btn-light">Choose</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <a asp-area="" asp-controller="Bank" asp-action="Create" class="btn btn-light">Create a new account</a>
</body>
</html>
