@model SevColApp.Models.InputAccountPasswordWrong

@{
    ViewData["Title"] = "Home Page";
}

<html>
<body class="bankingpage">
    <h4 class="text-warning">The password you entered was incorrect</h4>
    <a asp-area="" asp-controller="Bank" asp-action="PasswordFill" asp-route-accountId="@Model.AccountId" class="btn btn-light">Try again</a>
    <a asp-area="" asp-controller="Bank" asp-action="Index" class="btn btn-light">Back to my accounts</a>
</body>
</html>
