@model SevColApp.Models.BankAccount

@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
    <form asp-action="create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table table-borderless table-sm">
            <tr>
                <th class="text-right"><label>The password for this account:</label></th>
                <td>
                    <input type="password" asp-for="Password" class="form-control col-6" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th></th>
                <td>
                    <input type="submit" value="Create" class="btn btn-outline-dark" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>