@model SevColApp.Models.BankAccount

@{
    ViewData["Title"] = "Home Page";
}

<html>
<body style="background-color: rgb(104,171,87)">
    <form asp-action="PasswordCheck">
        <table class="table table-borderless">
            <tr>
                <th class="text-right"> Account name: </th>
                <td> @Model.AccountName</td>
            </tr>
            <tr>
                <th class="text-right"> Account number:</th>
                <td> @Model.AccountNumber</td>
            </tr>
            <tr>
                <th class="text-right"> Enter password: </th>
                <td>
                    <input type="password" asp-for="Password" class="form-control col-6" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </td>                    

            </tr>
            <tr class="form-group">
                <th></th>
                <td>
                    <input type="hidden" asp-for="Id" class="form-control col-6" value=@Model.Id />
                </td>
                <td>
                    <input type="submit" value="Done" class="btn btn-light" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>