@model SevColApp.Models.InputOutputTransfer

@{
    ViewData["Title"] = "Home Page";
}
<html>

<body  class="bankingpage">

    <form asp-action="Transfer">
        <table class="table table-borderless w-auto">
                <tr>
                    <th scope="row" class="bankingtext">From account:</th>
                    <td class="bankingtext">@Model.BankAccount.AccountNumber</td>
                    <td>
                        <input asp-for="Transfer.PayingAccountNumber" type="hidden" value="@Model.BankAccount.AccountNumber" />
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bankingtext">To account:</th>
                    <td>
                        <input asp-for="Transfer.ReceivingAccountNumber" class="form-control col-6" />
                        <span asp-validation-for="Transfer.ReceivingAccountNumber" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bankingtext">Amount (in credits):</th>
                    <td>
                        <input asp-for="Transfer.Amount" class="form-control col-6" />
                        <span asp-validation-for="Transfer.Amount" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="bankingtext">Password of your account:</th>
                    <td>
                        <input type="password" asp-for="Password" class="form-control col-6" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </td>
                </tr>
                <tr class="form-group">
                    <th></th>
                    <td>
                        <input type="submit" value="Done" class="btn btn-light" />
                    </td>
                </tr>
        </table>
    </form>
</body>

</html>
