@model string

@{
    ViewData["Title"] = "Stocks Page";
}

<html>
<body class="stockspage">
    <h1 class="bankingtext">Welcome, @Model, to the stocks page</h1>

    <a asp-area="" asp-controller="Stocks" asp-action="CurrentStocks" class="btn btn-outline-light">View my current stocks</a> <br />

    <a asp-area="" asp-controller="Stocks" asp-action="BuyRequest" class="btn btn-outline-light">Buy stocks</a> <br />

    <a asp-area="" asp-controller="Stocks" asp-action="SellRequest" class="btn btn-outline-light">Sell stocks</a> <br />

</body>
</html>